.cover__link{
    max-width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 650px) {
    .cover__link{
        height: 640px;
    }
}

@media (max-width: 425px) {
    .cover__link{
        height: 200px;
    }
}