.place__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 440px;
}

.place:nth-child(2) .place__title{
    padding-top: 9%;
}

.place:nth-child(3) .place__title{
    padding-top: 9%;
}

.place:nth-child(5) .place__title{
    padding-top: 9%;
}

@media (max-width: 768px) {
    .place__title{
        font-size: 42px;
         line-height: 46px;
         width: 327px;
    }
}

@media (max-width: 320px) {
    .place__title{
        font-size: 32px;
        line-height: 35px;
        padding-left: 9%;
    }
}