.intro__list{
    margin: 0;
    list-style: none;
    color: #FFFFFF;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5;
}

.accent-quantity{
    font-weight: normal;
}

.accent-unesko{
    font-weight: 900;
}