.cover__subtitle{
    max-width: 360px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    z-index: 1;
}

@media (max-width: 650px) {
    .cover__subtitle{
        width: 90%;
        font-size: 14px;
        line-height: 16px;
    }
}