.header{
    max-height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2.2% 3.8% 0;
}

@media (max-width: 900px) {
    .header{
        padding: 3.67% 3.13% 0;
    }
}

@media (max-width: 650px) {
    .header{
        padding: 5% 5% 0;
    }
}