.place__paragraph{
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    grid-column: 2/2;
    grid-row: 2/3;
}

.place__paragraph:last-of-type{
    grid-column: 2/2;
    grid-row: 3/4;
}

.place:nth-child(5) .place__paragraph{
    grid-column: 2/2;
    grid-row: 2/4;
}

@media (max-width: 900px) {
    .place__paragraph{
        font-size: 16px;
        line-height: 163%;
    }
}

@media (max-width: 650px) {
    .place__paragraph{
        margin: 0 5%;
        grid-column: 1/1;
        grid-row: 4/5;
    }

    .place__paragraph:last-of-type{
        grid-column: 1/1;
        grid-row: 5/6;
    }

    .place:nth-child(5) .place__paragraph{
        grid-column: 1/1;
        grid-row: 4/5;
    }

}