.intro{
    max-width: 690px;
    align-self: baseline;
    padding-left: 12%;
    padding-top: 9.2%;
}

@media (max-width: 900px) {
    .intro{
        padding: 0;
    }
}

@media (max-width: 650px) {
    .intro{
        margin-top: 30.4%;
        padding: 0 5.6%;
    }
}