.intro{
    max-width: 690px;
    align-self: baseline;
    padding-left: 12%;
    padding-top: 9.2%;
}

@media (max-width: 1050px) {
    .intro{
        padding-left: 4.81%;
    }
}

@media (max-width: 900px) {
    .intro{
        padding: 11.5% 3.13% 0;
    }
}

@media (max-width: 650px) {
    .intro{
        padding: 20% 5% 0;
    }
}