.place{
    display: grid;
    grid-template-columns: 460px 484px;
    column-gap: 40px;
    margin-bottom: 8.16%;
    min-height: 660px;
}

@media (max-width: 1050px) {
    .place{
        column-gap: 32px;
        grid-template-columns: minmax(460px, 484px);
        margin: 0 4.9% 8.1%;
    }
}

@media (max-width: 900px) {
    .place{
        grid-template-columns: minmax(340px, 340px);
        column-gap: 28px;
        min-height: 535px;
        padding-bottom: 10.2%;
        margin: 0 3.28% 9.9%;
        row-gap: 25px;
    }
}

@media (max-width: 650px) {
    .place{
        display: block;
        margin: 18% 0;
    }
}