.footer{
    min-height: 18px;
    display: flex;
    justify-content: space-between;
    padding: 7.45% 3.9% 2%;
}

@media (max-width: 768px) {
    .footer{
        display: flex;
        padding: 11.99% 3.3% 3.3%;
    }
}

@media (max-width: 320px) {
    .footer {
        display: flex;
        padding: 22.5% 3.3% 8.5%;
        flex-direction: column;
        align-items: flex-start;
    }
}